<!DOCTYPE html>
<html lang="en">
<head>
 <title>Automated Value Added Recruiting</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" type="text/css" href="Candidate_App/css/styles.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navhead">
    <div class="col-md-10" style="margin-left: 152px;">
        <div class="container ">
            <div class="navbar-header">
                <img src="images/site_logo.jpg" alt="<KR Logo>">
            </div>
            <div >
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="#">How it works?</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container col-md-1" style="width:80px;margin-top: 12px; ">
        <div class="pull-right">
            <input class="btn btn-lg btn-success " type="submit" name="login" value="Login">
        </div>
    </div>
</nav>

  <div class="container" >
    <div class="page-header">
      <h1>Value Added Recruiting</h1>
    </div>
    <style type="text/css">
    /* Style the search box */
#mySearch {
 width: 100%;
 font-size: 18px;
 padding: 11px;
 border:1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
 list-style-type: none;
 padding: 0;
 margin: 0;
}

/* Style the navigation links */
#myMenu li a {
 background-color: #f6f6f6;
 padding: 12px;
 text-decoration: none;
 font-size: 18px;
 color: black;
 display: block
}

#myMenu li a:hover {
 background-color: #eee;
}
    </style>

    <script>
    function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i;
    input = document.getElementById("mySearch");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myMenu");
    li = ul.getElementsByTagName("li");

    // Loop through all list items, and hide those who don't match the search query
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}

function cantfind() {
  window.location.href = "cantfind.html"
}
    </script>
    <div class="col-md-5">
    <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search Available positions.." title="Type your position">

   <ul id="myMenu">
        <% for (var i=1; i <= Object.keys(job).length; i++) { %>
        <li><a href="form/<%= i %>"><%= job[i] %></a></li>
        <% } %>
   </ul>
 </div>
 <div class="col-md-5">
   <button type="button" name="send" class="btn btn-primary center-block" style="margin-top:30%; width:50%; height:80px; margin-left:20%;" onclick="cantfind()">Can't find</button>
 </div>
</div>
</body>
</html>
