*
{
    margin: 0 ;
    padding: 0;
}
html,body
{
    height: 100% !important;
    background-color: silver !important;
}
/* ------ featurette */
.featurette {
    display: table;
    width: 100%;
    height: 30%; /* set a pixel height and then remove the body,html height */
    vertical-align: middle;
    color: #fff;
}
.featurette-inner {
    display: table-cell;
    vertical-align: middle;
}
.featurette .search {
    padding: 3%;
    max-width: 700px; /*max width of search*/
    margin: 0 auto;
}
.no-margin-top {
    margin-top: 0
}


/* ------ form-control-lg */
.form-control-lg {
    min-height: 46px;
    border-radius: 6px;
    font-size: 18px;
    line-height: normal;
}


/* ------ disjointed form group custom */
.featurette .search.has-button .btn {
    margin-top: 5px;
    width: 100%;
}
@media (min-width:480px) { 
	.featurette .search.has-button .form-group {
	    position: relative;
	    padding-right: 99px; /*space for button*/
	}
	.featurette .search.has-button .btn {
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: auto;
	    margin: 0;
	}
}

.modal {
	display:none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 4% auto 15% auto;
    border: 1px solid #888;
    border-radius: 10px !important;
    width: 600px;
    height: 850px;
	padding-bottom: 30px;
    overflow: auto;
}
.createRec
{
    height: 550px !important;
}
.close {
    position: absolute;
    right: 8px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    height: 10px;
}
.close:hover,.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    animation: zoom 0.6s
}
@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

.rad-info-box{  
    margin-bottom:16px;
    box-shadow:1px 1px 2px 0 #CCCCCC;
    padding:20px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
    background:$base-color !important;
}

.rad-info-box i{
    display:block;
    background-clip:padding-box;
    margin-right:15px;
    height:60px;
    width:60px;
    border-radius:100%;
    line-height:60px;
    text-align:center;
    font-size:4.4em;
    position:absolute;  
}

.rad-info-box .value,
.rad-info-box .heading{
    display:block;  
    position:relative;
    color: $text-color;
    text-align:right;
    z-index:10;
}

.rad-info-box .heading{
    font-size:1.2em;
    font-weight:300;
    text-transform:uppercase;
}

.rad-info-box .value{
    font-size:2.1em;
    font-weight:600;
    margin-top:5px;
}

.rad-txt-primary{
    color:#1C7EBB;
}
.rad-bg-primary{
    background:#1C7EBB;
}
.rad-txt-success{
    color:#23AE89;
}
.rad-bg-success{
    background:#23AE89;
}
.rad-txt-danger{
    color:#E94B3B;
}
.rad-bg-danger{
    background:#E94B3B;
}
.rad-txt-warning{
    color:#F98E33;
}
.rad-bg-warning{
    background:#F98E33;
}
.rad-txt-violet{
    color:#6A55C2;
}
.rad-bg-violet{
    background:#6A55C2;
}

.formcon
{
    width: 400px;
    font-size: 17px;
}
.formstyle
{
    font-size: 17px !important;
}
.candyform
{
    padding-top: 15px;
}


.tstyle,tr
{
    border: solid 2px #FF9400;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px ;
}
th
{
    font-size: 20px;
    color: #DDDDDD;
}
tbody
{
    height:80em;
    overflow: scroll;
}

.navhead
{
    background-color: #233982;
    margin-top: 0;
    height: 70px;
    border-radius: 0 !important;
}

.navhead img
{
    padding-top: 8px;
}

.navhead ul li a 
{
    color: white;
    font-size: 18px;
}

.navhead ul 
{
    padding-top: 10px;
}


.loginpad
{
    margin-top: 10px;
}

.loginpad input
{
    font-size:23px;
}
.loginpad label
{
    font-size:23px;
    text-align: center;
}
.loginpad button
{
    width:100px; 
    font-size: 20px;
}

hr 
{ 
    border-width: 1px !important;
    border-color: #DDDDDD !important;
    width: 95%;
} 

.advancesearch li
{
    font-size: 14px;

}

.dropdownlist
{
    width: 340px !important;
    height: 380px !important;
    border-radius: 8px !important;
    background-color: #D7D6DC !important;
}

.logincon
{
    margin-top:10%;
    border-radius: 6px;
    height: 400px;
}

footer
{
    background-color: #233982;
    height: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p
{
    padding-top: 15px;
    color: white;
    font-size: 15px;
}

